@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

input {
  font-family: "Acme", sans-serif;

  box-sizing: border-box;
  font-size: 13px;
  vertical-align: top;
}

.mainDiv {
  margin-top: 10px;
  padding-top: 15px;
  text-align: center;
  font-family: "Acme", sans-serif;

  position: relative;
  height: 20px;
  font-size: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20%;
}
.search {
  padding: 0 10px;
  font-size: 18px;
  width: 250px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 20px 0 0 20px;
}
.submit {
  color: #fff;
  text-align: center;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: black;
  background-size: 35px 35px;
  border-radius: 0 20px 20px 0;
  width: 70px;
  height: 30px;
  font-family: "Acme", sans-serif;
}
